<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
Eventos
    </ion-title>
    <ion-buttons slot="end" >
      <ion-button [routerLink]="'/evento/0'" ><ion-icon src="/assets/icon/file.svg"  ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-list lines="none">
  <ion-list>
    <ion-item-sliding *ngFor="let evento of eventos" (click)="SetCoreEvento(evento.nombre,evento.fecha_inicio,evento.hora_inicio,evento.fecha_fin,evento.hora_fin,evento.id)" detail="true">
        <ion-item detail="true">
            <ion-label>{{ evento.nombre }}</ion-label>
        </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="Eliminar(evento.id)"  color="danger">Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-list>
</ion-content>
