<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
Eventos
    </ion-title>
    <ion-buttons slot="end" >
      <ion-button [routerLink]="'/evento/0'" ><ion-icon src="/assets/icon/file.svg"  ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-list lines="none">
  <ion-item [routerLink]="'/evento/' + evento.id" detail="true" *ngFor="let evento of eventos" (click)="SetCoreEvento(evento.nombre,evento.fecha_inicio,evento.hora_inicio,evento.fecha_fin,evento.hora_fin)">
      <ion-label>{{ evento.nombre }}</ion-label>
  </ion-item>
</ion-list>
</ion-content>
